@media(min-width: 576px){
    .col-sm-1{
        width:8.3333%;
        float:left;
    }

    .col-sm-2{
        width: 16.6666666666667%;
        float:left;
    }

    .col-sm-3{
        width: 25%;
        float:left;
    }

    .col-sm-4{
        width: 33.333%;
        float:left;
    }

    .col-sm-5{
        width: 41.6666666666667%;
        float:left;
    }

    .col-sm-6{
        width: 50%;
        float:left;
    }

    .col-sm-7{
        width: 58.33%;
        float:left
    }

    .col-sm-8{
        width: 66.6666666666667%;
        float:left;
    }

    .col-sm-9{
        width:75%;
        float:left;
    }

    .col-sm-10{
        width: 83.33%;
        float:left;
    }

    .col-sm-11{
        width: 91.6666666666667%;
        float:left;
    }

    .col-sm-12{
        width: 100%;
        float:left;
    }
}

@media(min-width: 768px){
    .col-md-1{
        width:8.3333%;
        float:left;
    }

    .col-md-2{
        width: 16.6666666666667%;
        float:left;
    }

    .col-md-3{
        width: 25%;
        float:left;
    }

    .col-md-4{
        width: 33.333%;
        float:left;
    }

    .col-md-5{
        width: 41.6666666666667%;
        float:left;
    }

    .col-md-6{
        width: 50%;
        float:left;
    }

    .col-md-7{
        width: 58.33%;
        float:left
    }

    .col-md-8{
        width: 66.6666666666667%;
        float:left;
    }

    .col-md-9{
        width:75%;
        float:left;
    }

    .col-md-10{
        width: 83.33%;
        float:left;
    }

    .col-md-11{
        width: 91.6666666666667%;
        float:left;
    }

    .col-md-12{
        width: 100%;
        float:left;
    }
}